.carousel img {
  height: 70vh;
  object-fit: cover;
}
.carousel{
    width: 100%;
}

@media (max-width: 1040px) {
  .carousel img {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 930px) {
  .carousel img {
    width: 100%;
    height: 40vh;
  }
}
@media (max-width: 460px) {
  .carousel{
    display: none;
}
}
