.container {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 10rem;
  margin-top: 30px;
}

.oneProduct img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-color: none;
  object-fit: cover;
}

.oneProduct {
  height: 370px;
  margin: 10px 0px;
  padding: 0px 15px;
  outline: none;
  position: relative;
  text-align: center;
  background-color: rgb(26, 25, 31);
  display: inline-block;
  cursor: grab;
  border-radius: 20px;
  cursor: pointer;
}
.oneProduct h1 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.oneProduct h2 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
  color: rgb(160, 160, 160);
}
.discountPrice {
  margin-bottom: 50px;
}

.oneProduct .saleIcon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  padding: 10px;
  background-color: rgb(210, 30, 36);
  border-radius: 10px;
  z-index: 2;
  cursor: pointer;
}

.oneProduct .store {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  padding: 10px;
  background-color: rgb(210, 30, 36);
  border-radius: 10px;
  z-index: 2;
}
.oneProduct .store:hover {
  text-decoration: underline;
}
.oneProduct .saleIcon:hover {
  text-decoration: underline;
}
.oneProduct a{
  color: white;
}

.productDesription {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  font-size: 12px;
  padding: 0px 10px;
  border-radius: 30px;
}
.productDesription img {
  width: 100px;
  height: 100px;
  margin-top: 20%;
}
.productDesription ul {
  margin: 10px;
  list-style: none;
}

.oneProduct:hover .productDesription {
  display: block;
}

@media (max-width: 700px) {
  .container {
    margin-bottom: 5rem;
  }
}
