

.sidebar {
  display: inline-block;
  width: auto;
  background-color: rgb(26, 25, 31);
  /* height: 100vh; */
  padding: 40px;
}

.assortmentList img {
  width: 40px;
  height: 40px;
}
.assortmentList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.assortmentList li img {
  width: 50px;
  height: 40px;
}

.assortmentList li a {
  text-decoration: none;
  margin-left: 10px;
  color: rgb(192, 192, 192);
  font-weight: 500;
}

.assortmentList li {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 6px;
  border-left: 2px solid rgb(26, 25, 31);
  cursor: pointer;
}


.assortmentList li:hover a{
  color: rgb(159, 29, 35);
}


.laptopHover:hover{
  border-left: 2px solid rgb(20, 98, 82);
}

.pcHover:hover{
  border-left: 2px solid rgb(138, 9, 47);
}

.printerHover:hover{
  border-left: 2px solid rgb(80, 52, 40);
}

.monitorsHover:hover{
  border-left: 2px solid rgb(0, 173, 239);
}
.keyboardHover:hover{
  border-left: 2px solid rgb(226, 172, 2);
}
.modulesHover:hover{
  border-left: 2px solid rgb(236, 97, 42);
}
.accessoriesHover:hover{
  border-left: 2px solid rgb(152, 135, 239);
}