.footer {
  padding: 40px;
  background-color: rgb(12, 12, 12);
  color: white;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerInfo div a {
  text-decoration: none;
  color: rgb(210, 30, 36);
}

.footerTitle {
  font-weight: 900;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .footerTitle {
    margin-top: 30px;
  }
}
