
.sidebar {
  display: inline-block;
  background-color: rgb(26, 25, 31);
  padding: 40px;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  left: -100%;
  transition: all .5s ease;
}
.sidebar::-webkit-scrollbar { width: 0; }
.sidebarShow{
  left: 0;
}
.sidebarBlock{
  left: -100%;
}

.sidebar i{
  display: flex;
  justify-content: flex-end;
  color:rgb(159, 29, 35);
  cursor: pointer;
  font-size: 20px;

}

.sidebar i:hover{
  color:rgb(192, 25, 34);
}

.assortmentList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.assortmentList li img {
  width: 50px;
  height: 40px;
  margin-right: 6px;
}

.assortmentList li a {
  text-decoration: none;
  margin-left: 4px;
  color: rgb(192, 192, 192);
  font-weight: 500;
}

.assortmentList li {
  margin-top: 30px;
  border-left: 2px solid rgb(26, 25, 31);
  cursor: pointer;
}
.assortmentList li a{
  display: flex;
  align-items: center;

}

.assortmentList li .active{
  color: rgb(159, 29, 35);
}



/* single hover effect on each class */
.assortmentList li:hover a{
  color: rgb(159, 29, 35);
}

.laptopHover:hover{
  border-left: 2px solid rgb(20, 98, 82);
}

.pcHover:hover{
  border-left: 2px solid rgb(138, 9, 47);
}

.printerHover:hover{
  border-left: 2px solid rgb(80, 52, 40);
}

.monitorsHover:hover{
  border-left: 2px solid rgb(0, 173, 239);
}
.keyboardHover:hover{
  border-left: 2px solid rgb(226, 172, 2);
}
.modulesHover:hover{
  border-left: 2px solid rgb(236, 97, 42);
}
.accessoriesHover:hover{
  border-left: 2px solid rgb(152, 135, 239);
}


@media (max-width: 860px) {
  .sidebar {
    padding: 20px;

  }
}