
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

.sidebarAndMain{
    display: grid;
    grid-template-columns: 20% 80%;

}

@media (max-width: 1230px) {
    .sidebarAndMain{
        grid-template-columns: auto 70%;
    
    }
  }
  @media (max-width: 860px) {
    .sidebarAndMain{
        grid-template-columns: 100%;
    
    }
  }