.carousel{
  overflow-x: hidden;
  -ms-overflow-style: none; 
  margin-bottom: 30px;
  margin-top: 20px;
}


.oneComment::-webkit-scrollbar { width: 0; }
.oneComment{
  -ms-overflow-style: none; 
  overflow-x: hidden;
  outline: none;
  background-color: rgb(26, 25, 31);
  padding: 30px;
  height: 30vh;
  width: 100%;
}

.oneComment div{
display: flex;
align-items:center;
}

.oneComment img{
  border-radius: 50%;
  margin: 10px 10px 10px 0px;
}


.oneComment p{
font-size: 1rem;
line-height: 1.5rem;
}

@media (max-width: 460px) {
  .oneComment{

    padding: 20px;
    height: 80vh;
  
  }
}